<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{- .Site.Title -}}</title>
  <meta name="description" content="{{ .Site.Params.description }}">


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  {{- partial "sections/header.html" . -}}
  <link rel="stylesheet" href="/css/v3.css" media="all">
  <link rel="stylesheet" href="/css/navbar-footer.css" media="all">
  <link rel="stylesheet" href="/css/loader.css" />

  <!-- aos -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="text-dark">
  <!--<div id="loader" class="center"></div>-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <div>
    {{- partial "sections/navbar.html" . -}}

    {{ if .Site.Params.disable_home }}
    {{ else }}
    {{- partial "sections/home.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_about }}
    {{ else }}
    {{- partial "sections/about.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_experience }}
    {{ else }}
    {{- partial "sections/experience.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_education }}
    {{ else }}
    {{- partial "sections/education.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_projects }}
    {{ else }}
    {{- partial "sections/projects.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_achievements }}
    {{ else }}
    {{- partial "sections/achievements.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_contact }}
    {{ else }}
    {{- partial "sections/contact.html" . -}}
    {{ end }}

    {{- partial "sections/footer.html" . -}}
    {{- partial "sections/scripts.html" . -}}
  </div>
  <script>
    /*
    document.onreadystatechange = function () {
      if (document.readyState !== "complete") {
        document.querySelector(
          "body").style.visibility = "hidden";
        document.querySelector(
          "#loader").style.visibility = "visible";
      } else {
        document.querySelector(
          "#loader").style.display = "none";
        document.querySelector(
          "body").style.visibility = "visible";
      }
    };
    */
    $(".darkmode-label").click(function () {
      $("body").toggleClass("darkmode");
      $(".fa-moon").toggleClass("d-none");
      $(".fa-sun").toggleClass("d-none");
      $(".about-backdark").toggleClass("about-back");
      $(".education-backdark").toggleClass("education-back");
      $(".achievements-backdark").toggleClass("achievements-back");
      $("nav").toggleClass("navbar-dark");
      $("nav").toggleClass("navbar-light");
      $(".text-dark").addClass("darkmode-text-dark").removeClass("text-dark");
      $(".text-muted")
        .addClass("darkmode-text-muted")
        .removeClass("text-muted");
      if ($("input.custom-control-input").is(":checked")) {
        $(".darkmode-text-dark")
          .addClass("text-dark")
          .removeClass("darkmode-text-dark");
        $(".darkmode-text-muted")
          .addClass("text-muted")
          .removeClass("darkmode-text-muted");
      }
    });
    if ($("input.custom-control-input").is(":checked")) {
      $("body").toggleClass("darkmode");
      $(".fa-moon").addClass("d-none");
      $(".fa-sun").removeClass("d-none");
      $("nav").toggleClass("navbar-dark");
      $("nav").toggleClass("navbar-light");
      $(".text-dark").addClass("darkmode-text-dark").removeClass("text-dark");
      $(".text-muted")
        .addClass("darkmode-text-muted")
        .removeClass("text-muted");
      $(".about-backdark").toggleClass("about-back");
      $(".education-backdark").toggleClass("education-back");
      $(".achievements-backdark").toggleClass("achievements-back");
    }
  </script>
</body>

</html>
